.quiz-app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
}

.sidebar {
  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #6366f1;
}

.loading-animations {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 10%;
  padding: 5%;
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.header-div {
  width: 97%;
  height: 96px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 17px;
  font-weight: lighter;
}
.menu-item {
  display: flex;
  margin-top: 50px;
  cursor: pointer;
  color: #6366f1;
}

.icon {
  margin-right: 20px;
  color: #6366f1;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.quizzes-container {
  width: 75%;
}
.text,
.texts {
  display: flex;
  color: rgba(100, 100, 100, 0.805);
  padding: 20px;
  justify-content: flex-end;
}

.texts {
  padding-right: 0;
}
.quiz-card {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.quiz-card:hover {
  border: 1px solid rgba(255, 245, 55, 0.237);
  background-color: #fdeba381;
}

.quiz-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.quiz-details {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  color: #666;
}

.solve-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: small;
  font-size: 12px;
  transition: background-color 0.3s ease;
  background-color: transparent;
  border: 1px solid rgba(64, 64, 64, 0.237);
  margin-top: 1%;
}
.solve-btn:hover {
  background-color: #eaa123a5;
}

.yellow {
  background-color: #ffd700;
}

.white {
  background-color: #ffffff;
  border: 1px solid #ccc;
}
.quiz-info {
  flex-grow: 1;
}
