.question-sidebar {
    position: fixed;
    width: 20%;
    height:70%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
    border-radius: 26px;
    top:13%;
    left:20px;
  }

  
  .sidebar-question-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    
  }
  
  .sidebar-question-item.current {
    background-color: #f0f0f0;
    border-radius: 15px;
   
  }
  
  .question-number {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .question-type {
    flex-grow: 1;
    padding-left: 10%;
  }
  
  .question-status {
    font-size: 40px;
    
  }
  
  .answered {
    color: green;
  }
  
  .unanswered {
    color: #d3d3d3;
  }
  