
  .question-page {

    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 22px;
  }
  
  .icon-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  .end-round-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  main {
    display: flex;
    gap: 20px;
  }
  
  .question-container, .options-container {
    background-color: white;
    padding: 12%;
    border-radius: 10px;
    flex: 1;

    
  }
  
  .question-container h2 {
    margin-top: 0;
  }
  
  .options-container h3 {
    margin-top: 0;
  }
  
  .option {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .option input[type="radio"] {
    margin-right: 10px;
  }
  
  footer {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 22px;
    
  }
  
  .nav-button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }